<!doctype html>
<html lang="en">
    <%- include('./partials/head') %>


<body>
    <div>
    
        <!-- <div id="fondo_color"></div>
        <div id="fondo_negro"></div> -->

        <!-- Header --> 

        <% if (log) { %>
            <%- include('./partials/header') %>
        <% } else {%>
            <%- include('./partials/headerDeslogueado') %>
            <% } %>

        <div class="espacio"></div>





        <div class="leftMargin">
    
            <div class="container text-center pt-5">
                <h2 class="  pt-2">
                    <%= gig.gig %>
                </h2>
                <h3 class="small p-2">
                    <%= gig.description %>
                </h3>
            </div>
    
            <div class="container pt-5">
                <div class="row">
                    <div class="col-8">
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
    
                            <ul class="uk-slider-items uk-grid">
                                <li class="uk-width-3-4">
                                    <div class="uk-panel">
                                        <img src="<%= gig.cover%>" alt="">
                                        <div class="uk-position-center uk-panel"><h1>1</h1></div>
                                    </div>
                                </li>
                                <li class="uk-width-3-4">
                                    <div class="uk-panel">
                                        <img src="<%= gig.cover%>" alt="">
                                        <div class="uk-position-center uk-panel"><h1>2</h1></div>
                                    </div>
                                </li>
                                <li class="uk-width-3-4">
                                    <div class="uk-panel">
                                        <img src="<%= gig.cover%>" alt="">
                                        <div class="uk-position-center uk-panel"><h1>3</h1></div>
                                    </div>
                                </li>
                                <li class="uk-width-3-4">
                                    <div class="uk-panel">
                                        <img src="<%= gig.cover%>" alt="">
                                        <div class="uk-position-center uk-panel"><h1>4</h1></div>
                                    </div>
                                </li>
                                <li class="uk-width-3-4">
                                    <div class="uk-panel">
                                        <img src="<%= gig.cover%>" alt="">
                                        <div class="uk-position-center uk-panel"><h1>5</h1></div>
                                    </div>
                                </li>
                            </ul>
    
                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="description-gig">
                            <div class="price-gig pb-2">
                                <h3 class="small">Desde</h3>
                                <h2>AR$<%= gig.priceMin %> </h2>
                            </div>
                            <div class="price-gig pb-2">
                                <h3 class="small">Hasta</h3>
                                <h2>AR$<%= gig.priceMax %> </h2>
                            </div>
                            <div class="buttons-gig">
                                <a id="btn_chatear">Chatear</a>
                                <a id="btn_contratar">Contratar</a>
                            </div>
                            <div class="profile-gig pt-5 pb-2 mx-auto">
                                <div class="row data-profile-gig">
                                    <div class="col-2 img-profile-gig"><img class="img-fluid"
                                        src="<%= gig.freelancer.profilePic %> " alt=""></div>
                                        <div class="col-10 ">
                                            <a href="/profile/id/<%= gig.freelancer.id %> ">
                                                <h4><%= gig.freelancer.name %> <%= gig.freelancer.lastName %> </h4>
                                            </a>
                                        </div>
                                    </div>
    
                                </div>
                                <% if (log) { %>
                                    <hr style="width: 80%; margin: auto; height: 1px; opacity: 100%;">
                                <div class="small-desc-gig">
                                    <h5>Contactos</h5>
                                    <ul>
                                        <li><strong>Email:</strong> <a href="mailto:<%= gig.freelancer.email %>"><%= gig.freelancer.email %></a></li>
                                    </ul>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="container pt-5">
                <div class="tags-gigs text-center py-2">
                    <div>Descripción</div>
                    <div>Opiniones/Comentarios</div>
                    <div>Opciones del Servicio</div>
                </div>
    
                <div class="details-gig text-left pt-5">
                    <%= gig.specs %>
    
                </div>
            </div>
            <div class="container pt-5">
                <h3>Califaciones de clientes (4)</h3>
    
                <div class="comment pt-5">
                    <h4 class="pt-2">Proyecto Aplicación Web</h4>
                    <div class="user-comment pt-2">
                        <img class="comment-pp" src="/recursos/imagenes/persona 4.png" alt="">
                        <h3 class="small">milton_ki</h3>
                    </div>
                    <div class="pt-2">
                        <h4 class="small">"Excelente profesional, pendiente de cada situacion, espero poder seguir trabajando
                            con el en mejoras para el proyecto y mas ideas a futuro."</h4>
                    </div>
                    <button class="btn_categories">MySql</button>
                    <button class="btn_categories">Javascript</button>
                    <button class="btn_categories">Python</button>
                </div>
                <div class="comment pt-5">
                    <h4 class="pt-2">Proyecto Aplicación Web</h4>
                    <div class="user-comment pt-2">
                        <img class="comment-pp" src="/recursos/imagenes/persona 4.png" alt="">
                        <h3 class="small">milton_ki</h3>
                    </div>
                    <div class="pt-2">
                        <h4 class="small">"Excelente profesional, pendiente de cada situacion, espero poder seguir trabajando
                            con el en mejoras para el proyecto y mas ideas a futuro."</h4>
                    </div>
                    <button class="btn_categories">MySql</button>
                    <button class="btn_categories">Javascript</button>
                    <button class="btn_categories">Python</button>
                </div>
                <button class="mx-auto btn_comments m-5">+ Califaciones</button>
            </div>
            <div class="container pt-5">
                <h2 class="TitulosSecciones">Otros Trabajos de <%= gig.freelancer.name %> <%= gig.freelancer.lastName %> </h2>
                <section class="card-list">
                    <% gig.freelancer.postedGigs.forEach(element => { %>
                        <% if (element.id != gig.id) { %>
                            <article class="cardGig p-4">
                                <a href="/gig/show/<%= element.id %> " class="ahrefCard">
                                    <div>
                                        <img src="<%= element.cover %> " style="  border-radius: 15px;" class="img-fluid"></img>
                                        <h2 class="Nombrecard"><%= element.gig %> </h2>
                                        <p class="Textocard"><%= element.description %> </p>
                                    </div>
                                </a>
                            </article>
                        <% } %>
                    <% }) %>
                </section>
    
            </div>
            
            <%- include("./partials/footer") %>
        </div>
        </div>
</body>

</html>