<header class="cabezera">
  <nav class="nav">
    <a id="logo" href="/"><img src="/recursos/imagenes/logo.svg" alt="logo wooplance" />
    </a>

    <div class="grupo_buscar">
      <div class="grupo_categorias">

        <button class="uk-button uk-button-default item_cat" type="button">Categorias</button>
        <div uk-dropdown="mode: click">
          <ul class="uk-nav uk-dropdown-nav">
            <% categories.forEach(category => { %>
            <li><a href="#"><%= category.category %> </a></li>
            <% }) %>
          </ul>
        </div>
      </div>
      <div class="grupo_busqueda">
        <form action="/search" method="GET">
          <input id="input_buscar" type="text" name="search" placeholder="EJ: 'Web Developer' " />
          <button id="btn_buscar" type="submit">
            <i class="bx bx-search"></i>
          </button>
        </form>
      </div>
    </div>

    <div class="grupo_entrar">
      <a id="btn_registrarse" href="/gig/add">Publicar</a>
      <a href="/profile/id/<%= myUser.id %> " class="profile-link">
        <img class="img-fluid" style="
            width: 40px;
            height: 40px;
            padding-right: 5px;
            border-radius: 50%;
          " src="<%= myUser.profilePic%>" alt="" />
        <p><%= myUser.name%> <%= myUser.lastName%></p>
      </a>
    </div>
  </nav>
  <div class="sideBar">
    <div class="circlesContainer">
      <div class="circles"><i class="bx bx-qr"></i></div>
      <div class="circles"><i class="bx bxs-bar-chart-alt-2"></i></div>
      <div class="circles"><i class="bx bx-grid"></i></div>
      <div class="circles"><i class="bx bx-user"></i></div>
    </div>
    <div class="logout">
      <form action="/logout" method="POST">
        <div class="circles red">
          <button type="submit" class="logout">
            <i class="bx bx-log-out-circle"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="categoriesContainer" hidden>
    <i class="bx bx-x" uk-toggle="target: #categoriesContainer "></i>
  </div>
</header>